# https://gist.github.com/nicklasfrahm/4a4fff24381f85ada76ccb651f555e1f?permalink_comment_id=4981874#gistcomment-4981874

ColumnLimit: 0
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
PenaltyReturnTypeOnItsOwnLine: 200
UseTab: Always
SortIncludes: true
SortUsingDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: false
BinPackArguments: false
BinPackParameters: false
SpacesInContainerLiterals: true
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
FixNamespaceComments: false
ReflowComments: false
NamespaceIndentation: All
IncludeBlocks: Preserve
BreakStringLiterals: false
BreakConstructorInitializers: AfterColon
IndentPPDirectives: BeforeHash
PointerAlignment: Left
AllowShortEnumsOnASingleLine: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
AlignTrailingComments: true